/* = BODY = */
body.tify_sidebar-body{
	overflow-x:hidden;
}

/* = CONTENEUR = */
.tify_sidebar-container{
	position:fixed;
	content: "";
	top:0; bottom:0;
	min-height:100%;
}

/* = BOUTON DE BASCULE = */
.tify_sidebar-toggle{
	position:fixed;
	top:0;
	width:30px; height:30px;
	display:block;
	padding:7px 4px;
	margin-right:-30px;
}
.tify_sidebar-toggle > div{
	position: relative;
	width: 100%; height: 0;
    padding-top: 100%;    
}
.tify_sidebar-toggle > div > svg{
	position:absolute;
	top:0; left:0;
}

/* = PANNEAU = */	
.tify_sidebar-panel{
	position:absolute;
}
#tify_sidebar-panel_left{
	float:left;
}

/** == GREFFONS == **/
.tify_sidebar .tify_sidebar-node{
	margin:0; padding:0;
	list-style-type:none;
}

/* = BARRE D'ADMINISTRATION = */
body.tify_sidebar-body.admin-bar .tify_sidebar-container,
body.tify_sidebar-body.admin-bar .tify_sidebar-toggle{
	top:32px;
}
@media (max-width: 782px){
	body.tify_sidebar-body.admin-bar .tify_sidebar-container,
	body.tify_sidebar-body.admin-bar .tify_sidebar-toggle{
		top:46px;
	}
}
@media (max-width: 600px){
	body.tify_sidebar-body.admin-bar .tify_sidebar-container,
	body.tify_sidebar-body.admin-bar .tify_sidebar-toggle{
		top:0px;
	}
}