[data-tify_control="findposts"]{
    position:relative;
}
[data-tify_control="findposts"] > input{
    padding-right:30px;
    margin:0;
    width:100%;
    background-color:#FFF;
    box-shadow: none;
}
[data-tify_control="findposts"] > button{
    position:absolute;
    display:block;    
    top:0; right:0; bottom:0;
    width:30px;
    z-index:1;    
    
    background-color: #F4F4F4;
    border: 1px solid #ddd;
    padding: 4px 5px;
    text-align: center;
    display: block;
    text-indent:-9999em;
    overflow:hidden;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor:pointer;
}
[data-tify_control="findposts"] > button::before{
    position:relative;
    display: block;
    content: "\f179";
    font: 400 20px/1 Dashicons;
    color: #7eb4ea;
    z-index:2;
    text-indent:0;
}