/* = Champs de saisie = */
[data-tify_control_suggest]{
	position:relative;
}
[data-tify_control_suggest] input[type="text"]{
	width:100%;
	padding:0.4em 40px 0.4em 1em;
	font-size:14px;
	margin:0;
	box-shadow:none;
}
[data-tify_control_suggest] input[type="text"]:focus{	
	box-shadow: 0 0 5px #FFF;
}
/* = Bouton = */
[data-tify_control_suggest] .tify_control_suggest_button {
	position:absolute;
	display:block;
	top:0; right:0; bottom:0;
	line-height:100%;
	border:none; background:none;
	width:40px;
	text-align:center;
}
[data-tify_control_suggest] .tify_control_suggest_button > * {
	position: absolute;
	display:inline-block;
	top: 50%;
	left: 50%;
	width :18px;
	height: 18px;
	margin-top: -9px;
	margin-left: -9px;
}
[data-tify_control_suggest] .tify_control_suggest_delete {
	display: none;
	cursor:pointer;
}
[data-tify_control_suggest].selected .tify_control_suggest_delete {
	display: block;
}
[data-tify_control_suggest].selected .tify_control_suggest_search {
	display: none;
}
/* = Moniteur d'activité = */
[data-tify_control_suggest] input.ui-autocomplete-loading[type="text"]{
	background-image:none;
}
[data-tify_control_suggest] input.ui-autocomplete-loading[type="text"] + .tify_control_suggest_search{
	display:none;
}
[data-tify_control_suggest] .tify_spinner{
	position:absolute;
	display:none;
	top:50%; right:0.4em; bottom:0;
	margin-top:-12px;
	width:24px;
	z-index:1;	
}
[data-tify_control_suggest] .tify_spinner.active{
	display:block;
}
/* = Réponse = */
[data-tify_control_suggest] .tify_control_suggest_response{
	position:absolute;
	top:100%; right:0; bottom:0; left:0;
	z-index:99;
}
[data-tify_control_suggest] .tify_control_suggest_response > .ui-autocomplete.tify_control_suggest-picker{	
	width:100% !important;
	left:0 !important;
	border-top:solid 1px #E4E4E4;
	max-height:300px;
	overflow-y: auto;
}
/* = Selecteur = */
.ui-autocomplete.tify_control_suggest-picker{
	margin:0; padding:0;
	background-color:#FFF;
	overflow-y:auto;
	max-height:20em;
}
.ui-autocomplete.tify_control_suggest-picker,
.ui-autocomplete.tify_control_suggest-picker > *{
	box-sizing:border-box;
}
.ui-autocomplete.tify_control_suggest-picker > li{
	display:block;
	border-bottom:solid 1px #E4E4E4;
	padding:0;
}
.ui-autocomplete.tify_control_suggest-picker > li > a::before,
.ui-autocomplete.tify_control_suggest-picker > li > a::after{
	display:table;
	content:"";
}
.ui-autocomplete.tify_control_suggest-picker > li > a::after{
	clear:both;
}
.ui-autocomplete.tify_control_suggest-picker > li > a{
	position:relative;
	display:block; 	
	line-height:1.2;
	text-decoration:none;
	min-height:50px;
}
.ui-autocomplete.tify_control_suggest-picker > li > a:hover{
	background-color:#F4F4F4;
}
.ui-autocomplete.tify_control_suggest-picker > li > a > span{
	display:block;
}
.ui-autocomplete.tify_control_suggest-picker > li > a > .ico{
	position:absolute;
	top:50%; left:0;
	margin-top:-25px;
	width:50px; height:50px;
	background-color:#EEE;
}
.ui-autocomplete.tify_control_suggest-picker > li > a > .ico > img{
	width:100%; height:100%;
	object-fit:cover;
}
.ui-autocomplete.tify_control_suggest-picker > li > a.has_ico > span:not(.ico ){
	margin-left:60px;
	margin-top:0.2em;
	margin-bottom:0.2em;
}
.ui-autocomplete.tify_control_suggest-picker > li > a > .title{
	text-transform:uppercase;
	font-weight:600;
	font-size:1.1em;	
}
.ui-autocomplete.tify_control_suggest-picker > li > a > .type{
	font-weight:100;
	margin-top:0.2em;
	margin-bottom:0.2em;
}
.ui-autocomplete.tify_control_suggest-picker > li > a > .status{
	color:#AAA;
	font-size:0.9em;
	font-style:italic;
}
