/* = Champs de saisie = */
[data-tify_control_suggest]{
	position:relative;
}
[data-tify_control_suggest] input[type="text"]{
	width:100%;
	padding:0.4em 40px 0.4em 1em;
	font-size:14px;
	margin:0;
	box-shadow:none;
}
[data-tify_control_suggest] input[type="text"]:focus{	
	box-shadow: 0 0 5px #FFF;
}
/* = Bouton = */
[data-tify_control_suggest] button{
	position:absolute;
	display:block;
	top:0; right:0; bottom:0;
	line-height:100%;
	border:none; background:none;
	width:40px;
	text-align:center;
}
[data-tify_control_suggest] button::after{
	content: url("data:image/svg+xml;charset=UTF-8,%3Csvg xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22 xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22 version%3D%221.1%22 x%3D%220px%22 y%3D%220px%22 viewBox%3D%220 0 40 50%22 enable-background%3D%22new 0 0 40 40%22 xml%3Aspace%3D%22preserve%22 fill%3D%22%23000000%22%3E%3Cg%3E%3Crect x%3D%2220.2%22 y%3D%2228.4%22 transform%3D%22matrix%280.7071 0.7071 -0.7071 0.7071 30.809 -12.7615%29%22 width%3D%2221.3%22 height%3D%224.7%22%2F%3E%3Cpath d%3D%22M4.6%2C4.6c-6.1%2C6.1-6.1%2C15.9%2C0%2C22s15.9%2C6.1%2C22%2C0s6.1-15.9%2C0-22S10.6-1.5%2C4.6%2C4.6z M23.2%2C23.4   c-4.2%2C4.2-11.1%2C4.2-15.3%2C0s-4.2-11.1%2C0-15.3s11.1-4.2%2C15.3%2C0S27.4%2C19.2%2C23.2%2C23.4z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
	width :18px;
	display:inline-block;
	margin-top:20%;
	/* RAW :
	 	<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 40 50" enable-background="new 0 0 40 40" xml:space="preserve" fill="#000000">
			<g>
				<rect x="20.2" y="28.4" transform="matrix(0.7071 0.7071 -0.7071 0.7071 30.809 -12.7615)" width="21.3" height="4.7"/>
				<path d="M4.6,4.6c-6.1,6.1-6.1,15.9,0,22s15.9,6.1,22,0s6.1-15.9,0-22S10.6-1.5,4.6,4.6z M23.2,23.4   c-4.2,4.2-11.1,4.2-15.3,0s-4.2-11.1,0-15.3s11.1-4.2,15.3,0S27.4,19.2,23.2,23.4z"/>
			</g>
		</svg>
		ENCODAGE :
		preg_replace( '/\+/', ' ', urlencode( '<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 40 50" enable-background="new 0 0 40 40" xml:space="preserve" fill="#000000"><g><rect x="20.2" y="28.4" transform="matrix(0.7071 0.7071 -0.7071 0.7071 30.809 -12.7615)" width="21.3" height="4.7"/><path d="M4.6,4.6c-6.1,6.1-6.1,15.9,0,22s15.9,6.1,22,0s6.1-15.9,0-22S10.6-1.5,4.6,4.6z M23.2,23.4   c-4.2,4.2-11.1,4.2-15.3,0s-4.2-11.1,0-15.3s11.1-4.2,15.3,0S27.4,19.2,23.2,23.4z"/></g></svg>' ) );
	 */
}
/* = Moniteur d'activité = */
[data-tify_control_suggest] input.ui-autocomplete-loading[type="text"]{
	background-image:none;
}
[data-tify_control_suggest] input.ui-autocomplete-loading[type="text"] + button::after{
	display:none;
}
[data-tify_control_suggest] .tify_spinner{
	position:absolute;
	display:none;
	top:50%; right:0.4em; bottom:0;
	margin-top:-12px;
	width:24px;
	z-index:1;	
}
[data-tify_control_suggest] .tify_spinner.active{
	display:block;
}
/* = Réponse = */
[data-tify_control_suggest] .tify_control_suggest_response{
	position:absolute;
	top:100%; right:0; bottom:0; left:0;
	z-index:99;
}
[data-tify_control_suggest] .tify_control_suggest_response > .ui-autocomplete.tify_control_suggest-picker{	
	width:100% !important;
	left:0 !important;
	border-top:solid 1px #E4E4E4;
	max-height:300px;
	overflow-y: auto;
}
/* = Selecteur = */
.ui-autocomplete.tify_control_suggest-picker{
	margin:0; padding:0;
	background-color:#FFF;
}
.ui-autocomplete.tify_control_suggest-picker,
.ui-autocomplete.tify_control_suggest-picker > *{
	box-sizing:border-box;
}
.ui-autocomplete.tify_control_suggest-picker > li{
	display:block;
	border-bottom:solid 1px #E4E4E4;
	padding:0;
}
.ui-autocomplete.tify_control_suggest-picker > li > a::before,
.ui-autocomplete.tify_control_suggest-picker > li > a::after{
	display:table;
	content:"";
}
.ui-autocomplete.tify_control_suggest-picker > li > a::after{
	clear:both;
}
.ui-autocomplete.tify_control_suggest-picker > li > a{
	position:relative;
	display:block; 	
	line-height:1.2;
	text-decoration:none;
	min-height:50px;
}
.ui-autocomplete.tify_control_suggest-picker > li > a:hover{
	background-color:#F4F4F4;
}
.ui-autocomplete.tify_control_suggest-picker > li > a > span{
	display:block;
}
.ui-autocomplete.tify_control_suggest-picker > li > a > .ico{
	position:absolute;
	top:50%; left:0;
	margin-top:-25px;
	width:50px; height:50px;
	background-color:#EEE;
}
.ui-autocomplete.tify_control_suggest-picker > li > a > .ico > img{
	width:100%; height:100%;
	object-fit:cover;
}
.ui-autocomplete.tify_control_suggest-picker > li > a.has_ico > .title,
.ui-autocomplete.tify_control_suggest-picker > li > a.has_ico > .type,
.ui-autocomplete.tify_control_suggest-picker > li > a.has_ico > .status{
	margin-left:60px;
	margin-top:0.2em;
	margin-bottom:0.2em;
}
.ui-autocomplete.tify_control_suggest-picker > li > a > .title{
	text-transform:uppercase;
	font-weight:600;
	font-size:1.1em;	
}
.ui-autocomplete.tify_control_suggest-picker > li > a > .type{
	font-weight:100;
	margin-top:0.2em;
	margin-bottom:0.2em;
}
.ui-autocomplete.tify_control_suggest-picker > li > a > .status{
	color:#AAA;
	font-size:0.9em;
	font-style:italic;
}
