.Browser {
    position: relative;
    height: 800px;

    background-color: #FFF;
}

/**
 * NAVIGATION
 */
.BrowserNav {
    position: absolute;
    top: 0;
    right: auto;
    bottom: 0;
    left: 0;
    width: 300px;
}

/**
 * REPERTOIRE COURANT
 */
.BrowserFolder {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 300px;
    padding: 10px;
}

.BrowserFolder.load::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1;
}

/**
 * Indicateur de chargement
 */
.BrowserFolder-Spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 2;
    display: none;
}

.BrowserFolder.load .BrowserFolder-Spinner {
    display: inherit;
}

/**
 * Fil d'Arianne
 */
.BrowserFolder-Breadcrumb {
    position: absolute;
    top:0; right:0; left:0;
    margin:0;
    padding:10px 0;

    background-color:#FFF;
    border-bottom: solid 1px #E4E4E4;
}

.BrowserFolder-BreadcrumbPart {
    display: inline-block;
    font-size: 18px;
    line-height: 18px;
    margin-right: 2px;
}

.BrowserFolder-BreadcrumbPart + .BrowserFolder-BreadcrumbPart::before {
    padding: 0 1px;
    content: "/\00a0";
}

.BrowserFolder-BreadcrumbPartLink {
    text-decoration: none;
}

/**
 * Liste des fichier
 */
.BrowserFolder-Content {
    position: absolute;
    top:50px; right:0; bottom:0; left:0;
    overflow:hidden;
    overflow-y: auto;
}

.BrowserFolder-Files > * {
    box-sizing: border-box;
}

.BrowserFolder-Files::before,
.BrowserFolder-Files::after {
    display: table;
    content: "";
}

.BrowserFolder-Files::after {
    clear: both;
}

.BrowserFolder-Files {
    margin: 0;
    padding: 0;
}

.BrowserFolder-File {
    display: block;
    margin: 0;
    padding: 0;
}

.BrowserFolder-FileLink {
    position: relative;
    text-decoration: none;
}

.BrowserFolder-File.selected .BrowserFolder-FileLink {
    background-color:#F4F4F4;
}

.BrowserFolder-FileIcon--image {
    position: relative;
    display: block;
    background-color: #E4E4E4;
    overflow: hidden;
}

.BrowserFolder-FileIcon--image > img {
    object-fit: cover;
}

.BrowserFolder-FileIconSpinner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 2;
}

.BrowserFolder-FileIcon.load .BrowserFolder-FileIconSpinner {
    display: inherit;
}

/**
 * VUE GRILLE
 */
.Browser--grid .BrowserFolder-Files {
    margin: 0 -10px;
}

.Browser--grid .BrowserFolder-File {
    float: left;
    padding: 10px;
}

.Browser--grid .BrowserFolder-FileLink {
    display: block;
    width: 200px;
    height: 200px;

    border: solid 1px #E4E4E4;
    text-align: center;
}

.Browser--grid .BrowserFolder-FileIcon {
    display: block;
    margin: 10px auto;
    width: 150px;
    height: 150px;
}

.Browser--grid .BrowserFolder-FileIcon--glyphicon {
    font-size: 150px;
    line-height: 1;
}

.Browser--grid .BrowserFolder-FileIcon--image > img {
    width: 150px;
    height: 150px;
}

.Browser--grid .BrowserFolder-FileName {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    padding: 5px;

    background-color: #FFF;
}